<h2 class="page__section-label">Leave a Comment</h2>
<p class="instruct text-muted"><small><a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> is allowed. Email
    address will be hashed and used for <a href="https://en.gravatar.com/">Gravatar</a>.</small></p>
<form id="comment-form" class="row g-3 page__form js-form form" method="POST"
    action="{{ site.staticman.endpoint }}">

    <!-- Start comment form alert messaging -->
    <div class="col-12 d-none js-notice alert alert-success mb-0" role="alert">
        <div class="d-flex align-items-center">
            <svg class="me-2" aria-label="Info:"><use xlink:href="/assets/svg/symbol-defs.svg#icon-check-circle"></use></svg>
            <h4 class="alert-heading m-0">Thanks for your comment!</h4>
        </div>
        <p class="mt-3 mb-0">It will show on the site once it has been approved.</p>
    </div>
    <div class="col-12 d-none js-notice alert alert-danger mb-0" role="alert">
        <div class="d-flex align-items-center">
            <svg class="me-2" aria-label="Info:"><use xlink:href="/assets/svg/symbol-defs.svg#icon-exclamation-triangle"></use></svg>
            <h4 class="alert-heading m-0">Sorry, there was an error with your submission.</h4>
        </div>
        <p class="mt-3 mb-0">Please make sure all required fields have been completed and try again.</p>
    </div>
    <!-- End comment form alert messaging -->

    <div class="col-12">
        <label for="comment-form-email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="comment-form-email" name="fields[email]" spellcheck="false"
            required="true">
    </div>
    <div class="col-12">
        <label for="comment-form-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="comment-form-name" name="fields[name]" spellcheck="false"
            required="true">
    </div>
    <div class="col-12">
        <label for="comment-form-message">Comment</label>
        <textarea class="form-control" placeholder="Leave a comment here" id="comment-form-message" rows="3"
            name="fields[message]" spellcheck="true" required="true"></textarea>
    </div>
    <div class="input-group mb-3 d-none">
        <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
        <input type="hidden" name="options[parent]" value="">
        <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
        <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
        <label for="comment-form-location">Leave blank if you are a human</label>
        <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off" />
        {% if site.staticman.reCaptcha.siteKey %}<input type="hidden" name="options[reCaptcha][siteKey]"
            value="{{ site.staticman.reCaptcha.siteKey }}">{% endif %}
        {% if site.staticman.reCaptcha.secret %}<input type="hidden" name="options[reCaptcha][secret]"
            value="{{ site.staticman.reCaptcha.secret }}">{% endif %}
    </div>

    {% if site.staticman.reCaptcha.siteKey %}
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ site.staticman.reCaptcha.siteKey }}"></div>
    </div>
    {% endif %}
    <div class="form-group">
        <button type="submit" id="comment-form-submit" class="btn btn-primary btn">Submit Comment</button>
        <button type="submit" id="comment-form-submitted" class="btn btn-primary btn d-none" disabled>Submitted</button>
        <a id="cancel-comment-reply-link" class="btn btn-secondary ms-3 text-decoration-none d-none" rel="nofollow" href="{{ page.url | absolute_url }}#respond" role="button">Cancel Reply</a>
    </div>
</form>