<div id="comment{{ include.index }}" class="card mb-4 js-comment comment ms-0">
    <div class="card-header p-0 comment__avatar-wrapper d-flex flex-row justify-content-start align-items-start">
        <img class="comment__avatar pe-3 m-0" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=80" alt="{{ include.name }}">
        <div class="d-flex flex-column">
            <h3 class="card-title comment__author mt-2 mb-0">{{ include.name }}</h3>
            <p class="card-text comment__date text-muted mb-0">
                <small>
                    {% if include.date %}
                    {{ include.date | date: "%B %d, %Y at %I:%M %p" }}
                    {% endif %} | 
                    {% if include.index %}<a class="comment__permalink" href="#comment{{ include.index }}">Permalink</a>{% endif %}
                </small>
            </p>
        </div>
    </div>
    <div class="card-block p-3 comment__content-wrapper">
        <p class="card-text comment__content">{{ include.message }}</p>
    </div>
</div>
