<head>
    <meta charset="utf-8">
    <title>
        {%- if page.title == "Home" -%}
        {{ site.title }} &middot; {{ site.tagline }}
        {%- elsif page.layout == 'tag_page' -%}
        Tag: {{ page.tag }} &middot; {{ site.title }}
        {%- elsif page.layout == 'home' -%}
        {{ site.title }}
        {%- else -%}
        {{ page.title }} &middot; {{ site.title }}
        {%- endif -%}
    </title>
    <meta name="description" content="Alan Plotko is a Software Engineer who loves building new things.">
    <meta name="author" content="Alan Plotko">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#222">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
    {%- if page.layout == 'home' -%}
    <link rel="stylesheet" href="/assets/css/main.css" />
    {%- else -%}
    <link rel="stylesheet" href="/assets/css/theme.css" />
    {%- endif -%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    {%- if page.layout == 'post' -%}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.5.0/custom-elements.min.js" integrity="sha512-QEq2OoCw4DbyQHVHnjan2wOgKlnPHyUzB/OEpLKXk0OJyifj9a6ulr+tXPdmqx9dhIp9q3D+F9+zHaZE9XBo9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {%- endif -%}
}
</head>