{%- if include.tags and include.tags.size > 0 -%}
    {%- assign isGlobal=false -%}
    {%- assign tags=include.tags | sort -%}
{%- elsif site.tags.size > 0 -%}
    {%- assign isGlobal=true -%}
    {%- assign tags=site.tags -%}
{%- endif -%}

<h2>{{ include.title | default: 'Tags' }}</h2>
<div class="tags">
    {%- for tag in tags -%}
    {%- if isGlobal -%}
        {%- capture tagName -%}{{ tag[0] }}{%- endcapture -%}
        {%- capture label -%}{{ tag[0] }} | {{ tag[1].size }}{%- endcapture -%}
    {%- else -%}
        {%- capture tagName -%}{{ tag }}{%- endcapture -%}
        {%- capture label -%}{{ tag }}{%- endcapture -%}
    {%- endif -%}
    <a class="badge tag mt-1 me-1 mb-1" href="{{ site.baseurl | append: 'blog' }}/tags/{{ tagName }}">{{ label }}</a>
    {%- if include.moduloEnabled -%}
        {%- assign separatorCount = include.separatorCount | default: 3 -%}
        {%- assign mod = forloop.index | modulo: separatorCount -%}
        {%- if mod == 0 -%}<span class="break"></span>{%- endif -%}
    {%- endif -%}
    {%- endfor -%}
</div>