<div class="sidebar-about">
    <a href="{{ site.baseurl | append: 'blog' }}">
        <img class="sidebar-logo" src="/assets/images/icon-192.png" title="Logo" alt="Logo" />
    </a>
    <h1>
        <a href="{{ site.baseurl | append: 'blog' }}">
            {{ site.title }}
        </a>
    </h1>
    <p class="lead">{{ site.description }}</p>
</div>

<nav class="nav flex-column mb-4">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link{% if page.url == '/blog/index.html' or page.url contains '/blog/page/' %} active fw-bold"
        aria-current="page{% endif %}" href="{{ site.baseurl | append: 'blog' }}">Blog</a>
    {%- assign pages_list = site.pages -%}
    {%- for node in pages_list -%}
    {%- if node.title != null and node.layout == "page" -%}
    <a class="nav-link{% if page.url == node.url %} active fw-bold" aria-current="page{% endif %}"
        href="{{ node.url }}">{{ node.title }}</a>
    {%- endif -%}
    {%- endfor -%}
</nav>

<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>