// Okay to process with purgecss
@import "node_modules/normalize.css/normalize";
@import "node_modules/bootstrap/scss/bootstrap";

/* Page defaults
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background-color: #222;
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* Particle Canvas
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

#particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Main Content
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.main {
    // Headers
    h1 {
        margin-bottom: 0;
        font-weight: 500;
    }

    // Link icons
    svg {
        margin: 0 0.25rem;
        width: 3rem;
        height: 3rem;
        stroke-width: 0;
        color: #fff;
        stroke: #fff;
        fill: #fff;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

@include media-breakpoint-up(md) {
    .main {
        h1 {
            font-size: 3.75rem;
        }

        h2 {
            font-size: 2.625rem;
        }
    }
}

// Contact
#contact {
    font-family: "Roboto Mono", monospace;
    visibility: hidden;
    width: fit-content;
    margin: 35px auto 0;
    text-align: center;
    color: #000;
    font-size: 1rem;
    padding: 0.625rem 3.125rem;
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;

    &.active {
        visibility: initial;
    }

    p {
        margin: 0;
    }

    p:first-child {
        margin-bottom: 10px;
    }
}
