@import "assets/css/poole";
@import "assets/css/syntax";
@import "assets/css/hyde";

/* Font overrides
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

// Body font
html,
.sidebar-about h1,
.pagination {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

// Code font
code,
pre,
.gist .gist-file {
    font-family: "Roboto Mono", "Courier New", monospace;
}

/* Bootstrap section
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

$primary: #0d6efd;
$secondary: #222;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/utilities/api";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/helpers/position";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";

/* Bootstrap overrides
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

// Inherit font color from body
.list-group-item {
    color: inherit;
}

// Add bottom border to list groups for main post listing on blog page, recent posts section, and tag directory page
.posts.list-group-flush > .list-group-item:last-child,
.recent-posts.list-group-flush > .list-group-item:last-child,
.tags-list.list-group-flush > .list-group-item:last-child {
    border-width: 0 0 1px;
}

// Set all links to primary bootstrap color
a {
    color: $primary;
}

// Improve contrast ratio for blockquotes
blockquote {
    color: #757575;
}

/* Post meta information
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.meta {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.meta svg {
    fill: #6c757d;
    width: 1rem;
    height: 1rem;
}

/* Sidebar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

#sidebar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $secondary;
    text-align: left;
    padding: 2.5rem 2rem;
    color: rgba(255, 255, 255, 0.5);
    width: 360px;
}

#sidebar a {
    color: #fff;
}

// Logo at 100px
#sidebar .sidebar-logo {
    width: 100px;
    height: 100px;
}

#sidebar .sidebar-about h1 {
    font-size: 2.5rem;
}

@include media-breakpoint-down(lg) {
    #sidebar {
        width: 288px;
    }
}

@include media-breakpoint-down(md) {
    #sidebar {
        position: unset;
        text-align: center;
        flex: 0 0 auto;
        width: 100%;
    }

    // Center logo when sidebar collapses in responsive mobile view
    .sidebar-logo {
        margin: 0 auto 1rem auto;
    }

    // Center logo when sidebar collapses in responsive mobile view
    .sidebar-logo {
        margin: 0 auto 1rem auto;
    }
}

/* Content: Outer Column
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

#main {
    padding: 80px 100px 80px 460px;
}

@include media-breakpoint-down(xl) {
    #main {
        padding: 80px 60px 80px 420px;
    }
}

@include media-breakpoint-down(lg) {
    #main {
        padding: 64px 48px 64px 336px;
    }
}

@include media-breakpoint-down(md) {
    #main {
        padding: 80px 20px;
    }
}

/* Content: First Inner Column
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

#post-content {
    max-width: 720px;
}

/* Content: Second Inner Column
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

#side-content {
    min-width: fit-content;
    white-space: nowrap;
}

/* Table of Contents
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

$toc-link-font-size: 16px;

.section-toc {
    position: sticky;
    top: 0;
    max-width: fit-content;
    overflow-y: auto;
    padding: 20px;
}

a.toc-menu-option {
    font-size: $toc-link-font-size;
}

.section-toc ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    a {
        font-size: $toc-link-font-size;
    }

    li.toc-h2 > a {
        font-weight: 700;
    }

    ul.toc-sublist {
        padding-left: 16px;
        margin-bottom: 0;
    }

    ul.toc-sublist ul {
        padding-left: 0;
    }
}

/* Tags
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

$badge-bg-light-color: #f3f3f3;
$badge-bg-light-hover-color: #ddd;
$badge-text-light-color: #333;
$badge-bg-dark-color: #666;
$badge-bg-dark-hover-color: #333;
$badge-text-dark-color: #fff;

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags a {
    background: $badge-bg-light-color;
    color: $badge-text-light-color;
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-weight: 700;
    transition: background 0.3s ease;
}

.tags a.tag-dark {
    background: $badge-bg-dark-color;
    color: $badge-text-dark-color;
}

.tags a:hover {
    background: $badge-bg-light-hover-color;
    text-decoration: none;
}

.tags a.tag-dark:hover {
    background: $badge-bg-dark-hover-color;
}

.tags .break {
    flex-basis: 100%;
    height: 0;
}

/* Archive Styles (base from Chirpy theme)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

%date-timeline {
    content: "";
    width: 4px;
    left: 75px;
    display: block;
    float: left;
    position: relative;
    background-color: rgba(0, 0, 0, 0.075);
}

.archives .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.archives {
    letter-spacing: 0.48px;

    span.lead {
        font-size: 24px;
        position: relative;
        left: 8px;

        &::after {
            content: "";
            display: block;
            position: relative;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            top: -26px;
            left: 63px;
            border: 3px solid;
            background-color: #fff;
            border-color: #c2c6cc;
            box-shadow: 0 0 2px 0 #c2c6cc;
            box-sizing: border-box;
            z-index: 1;
        }

        &:not(:first-child) {
            position: relative;
            left: 4px;

            &::after {
                left: 67px;
            }
        }
    }

    ul {
        li {
            font-size: 17.6px;
            line-height: 48px;

            div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                    margin-left: 40px;
                    position: relative;
                    top: 1.6px;
                }
            }

            &:nth-child(odd) {
                background-color: #fff;
                background-image: linear-gradient(to left, #fff, #fbfbfb, #fbfbfb, #fbfbfb, #fff);
            }

            &::after {
                @extend %date-timeline;

                height: 44.8px;
                top: -20.8px;
            }

            &:first-child::before {
                @extend %date-timeline;

                height: 48.96px;
                top: -25.76px;
            }
        }

        &:not(:last-child) > li:last-child::after {
            height: 54.4px;
        }

        &:last-child > li:last-child::after {
            display: none;
        }
    }

    .date {
        white-space: nowrap;
        display: inline-block;

        &.month {
            width: 22.4px;
            text-align: center;
            font-size: 80%;

            ~ a::before {
                content: "";
                display: block;
                float: left;
                position: relative;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width: 8px;
                height: 8px;
                top: 21.6px;
                left: 69px;
                background-color: #c2c6cc;
                box-shadow: 0 0 3px 0 #c2c6cc;
                z-index: 1;
            }
        }

        &.day {
            font-size: 85%;
            color: #212529;
            text-align: center;
            margin-right: -2px;
            width: 19.2px;
            position: relative;
            left: -2.4px;
        }
    }
}

@media all and (max-width: 576px) {
    .archives {
        margin-top: -16px;

        ul {
            letter-spacing: 0;
        }
    }
}

/* Clap button
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

@import "node_modules/applause-button/dist/applause-button";

.applause-button {
    width: 100px;
    height: 100px;
}

/* Comment form
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.card .card-body .message {
    padding-left: 80px;

    &::after {
        clear: both;
    }
}

.card .card-body .actions {
    margin-top: 5px;
}

img.comment__avatar {
    border-bottom-left-radius: 0;
}

@include media-breakpoint-down(md) {
    p.comment__content {
        font-size: 16px;
    }
}
