/* Comment form
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.js-comment.comment.child {
    margin-left: 30px;
    margin-top: 20px;
    border-left: 5px solid $secondary;
    padding-left: 20px;
}

.comment__reply-link {
    cursor: pointer;
}

.js-notice.alert {
    svg {
        width: 24px;
        height: 24px;
    }

    &.alert-success svg {
        stroke-width: 0;
        color: $success;
        fill: $success;
    }

    &.alert-danger svg {
        stroke-width: 0;
        color: $danger;
        fill: $danger;
    }
}