/* Font overrides
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-monospace: "Roboto Mono", monospace;

// Body font
html,
body,
.sidebar-about h1,
.pagination {
    font-family: $font-family-sans-serif;
}

// Code font
code,
pre,
.gist .gist-file {
    font-family: $font-family-monospace;
}
