<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<!-- TODO: Attempt flex layout where sidebar has flex: 0 0 360px and main content has flex: 1 0 0 to fill in the rest, then repeat for main content's divs -->

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar">
                {% include sidebar.html %}
            </div>
            <div id="main" class="col-sm-12">
                {{ content }}
            </div>
        </div>
    </div>
</body>

</html>
