---
layout: default
---

<div class="row gx-5">
    <div id="post-content" class="col-xl-12 col-xxl-10 me-5">
        {%- include breadcrumbs.html title=page.title -%}
        <div class="post pt-2">
            {%- include post_header.html reading_content=content post=page anchor=true -%}
            {{ content | inject_anchors }}
        </div>
        <hr />
        {%- include section_tags.html tags=page.tags moduloEnabled=false title='Post Tags' -%}
        <div class="pt-5"></div>
        {%- include section_recent_posts.html -%}
    </div>
    <div id="side-content" class="col gy-5">
        <div class="section-toc sticky-top">
            <p class="fw-bold mb-1">Contents <small>(<a class="fw-normal" href="#post-title">Back to Top</a>)</small></p>
            {% toc %}
        </div>
    </div>
</div>