---
layout: default
---

<div class="row gx-5">
    <div id="post-content" class="col-xl-12 col-xxl-10">
        {%- include breadcrumbs.html title=page.title -%}
        <div class="post pt-2">
            {%- include post_header.html reading_content=content post=page -%}
            {{ content }}
        </div>
        <hr />
        {%- include recent_posts.html -%}
        {%- include tags.html tags=page.tags moduloEnabled=false title='Post Tags' -%}
    </div>
    <div id="side-content" class="col">
        Placeholder
    </div>
</div>